<div class="min-h-full bg-gradient-to-b from-blue-50 to-white">
    <app-error-display [errors]="errorList"></app-error-display>
    <app-header [title]="'Achat Crédit'"
        class="sticky top-0 z-20 bg-white bg-opacity-90 backdrop-filter backdrop-blur-lg shadow-sm transition-all duration-300 ease-in-out">
    </app-header>

    <div class="container mx-auto px-4 py-8 space-y-6 transition-all duration-300 ease-in-out">
        <!-- Champ de recherche -->
        <div class="relative">
            <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Rechercher un contact..."
                class="w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 text-gray-400 absolute right-3 top-1/2 transform -translate-y-1/2" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>

        <app-button-add [title]="'Acheter du crédit pour un nouveau numéro'" (click)="openModal()"
            class="block w-full transform hover:scale-105 transition-all duration-300 ease-in-out">
        </app-button-add>

        <ng-container *ngIf="!searchQuery">
            <app-contact-list [title]="'Favoris'" [contacts]="favorites" (contactSelected)="onContactSelected($event)"
                class="block bg-white rounded-2xl shadow-lg p-6 transform hover:shadow-xl transition-all duration-300 ease-in-out">
            </app-contact-list>
        </ng-container>

        <app-contact-list (contactSelected)="onContactSelected($event)" [contacts]="filteredContacts"
            [title]="searchQuery ? 'Résultats de recherche' : 'Contacts'"
            class="block bg-white rounded-2xl shadow-lg p-6 transform hover:shadow-xl transition-all duration-300 ease-in-out">
        </app-contact-list>
    </div>

    <!-- Modal pour ajouter un nouveau numéro -->
    <div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center p-4">
        <div class="bg-white rounded-2xl shadow-xl w-full max-w-md transform transition-all duration-300 ease-in-out"
            [ngClass]="{'scale-100 opacity-100': isModalOpen, 'scale-95 opacity-0': !isModalOpen}">
            <div class="p-6">
                <h2 class="text-2xl font-bold mb-4">Ajouter un nouveau numéro</h2>
                <form (ngSubmit)="onSubmit()" class="space-y-4">
                    <div>
                        <label for="userName" class="block text-sm font-medium text-gray-700 mb-1">Le Nom du
                            Destinataire</label>
                        <input [disabled]="isDisabled" type="text" id="userName" name="userName"
                            [(ngModel)]="buyCredit.userName" required title="Entrer le nom du destinataire"
                            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">

                        <div *ngIf="!isValidName() && buyCredit.userName" class="text-red-500 text-sm mt-1">
                            le nom est requise
                        </div>
                    </div>

                    <div>
                        <label for="phoneNumber" class="block text-sm font-medium text-gray-700 mb-1">Numéro de
                            téléphone</label>
                        <input [disabled]="isDisabled" type="tel" id="phoneNumber" name="phoneNumber"
                            [(ngModel)]="buyCredit.phoneNumber" required pattern="^\+221(77|78|76|70|75)\d{7}$"
                            title="Veuillez entrer un numéro de téléphone valide commençant par +221 et comportant un des préfixes 77, 78, 76, 70, ou 75 suivi de 7 chiffres."
                            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">

                        <div *ngIf="!isValidPhone() && buyCredit.phoneNumber" class="text-red-500 text-sm mt-1">
                            Le numéro de téléphone ou le montant est invalide.
                        </div>
                    </div>

                    <div>
                        <label for="montant" class="block text-sm font-medium text-gray-700 mb-1">Montant</label>
                        <input type="number" id="montant" name="montant" [(ngModel)]="buyCredit.montant" required
                            min="100"
                            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">

                        <div *ngIf="!isValidMontant()" class="text-red-500 text-sm mt-1">
                            Le montant doit être supérieur ou égal à 100.
                        </div>
                    </div>

                    <div class="flex justify-end space-x-3">
                        <button type="button" (click)="closeModal()"
                            class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            Annuler
                        </button>
                        <button type="submit" [disabled]="!isValidForm()" [ngClass]="{
                                'bg-gray-400 cursor-not-allowed': !isValidForm(),
                                'bg-blue-600 hover:bg-blue-700 focus:ring-2 focus:ring-blue-500': isValidForm()
                            }" class="px-4 py-2 text-white rounded-md">
                            Acheter
                        </button>


                    </div>
                </form>
              
            </div>
        </div>
    </div>

    <div *ngIf="isLoading"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" [@fadeInOut]>
    <div class="bg-white dark:bg-gray-800 rounded-lg p-8 shadow-xl max-w-sm w-full mx-4">
        <ng-container *ngIf="!isSuccess">
            <!-- Spinner lors du chargement -->
            <div class="flex flex-col items-center">
                <div class="inline-block animate-spin">
                    <svg class="w-16 h-16 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                            stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </div>
                <p class="mt-4 text-lg font-medium text-gray-900 dark:text-gray-100">Achat en cours</p>
            </div>
        </ng-container>

        <ng-container *ngIf="isSuccess">
            <!-- Animation de succès -->
            <div class="flex flex-col items-center" [@successAnimation]>
                <svg class="w-16 h-16 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 13l4 4L19 7" />
                </svg>
                <p class="mt-4 text-lg font-medium text-gray-900 dark:text-gray-100">L'achat à réussi</p>
            </div>
        </ng-container>
    </div>
</div>
</div>